<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Backbone.js • TodoMVC</title>
  <link rel="stylesheet" href="assets/base.css">
</head>
<body>

  <section id="todoapp">
    <header id="header">
      <h1>todos</h1>
      <input type="text" placeholder="What needs to be done?" autofocus id="new-todo">
    </header>

    <section id="main">
      <input type="checkbox" id="toggle-all">
      <label for="toggle-all">Mark all as complete</label>
      <ul id="todo-list"></ul>
    </section>

    <footer id="footer"></footer>
  </section>

  <div id="info">
    <p>Double-click to edit a todo</p>
  </div>

  <!--  templates -->
  <!--  创建自定义的脚本标签，浏览器会将这段作为纯文本处理而不是执行它-->
  <script type="text/template" id="item-template">
    <div class="view">
      <input type="checkbox" class="toggle" <%= completed ? 'checked' : '' %>>
      <label><%- title %></label>
      <button class="destory"></button>
    </div>
    <input type="text" value="<% - title %>" class="edit">
  </script>

  <script type="text/template" id="stats-template">
    <span id="todo-count"><strong><%= remaining %></strong> <%= remaining === 1 ? 'item' : 'items' %></span>
    <ul id="filters">
      <li>
        <a href="#/" class="selected">All</a>
        <a href="#/active">Active</a>
        <a href="#/completed">Completed</a>
      </li>
    </ul>

    <% if (completed) { %>
      <button id="clear-completed">Clear completed (<%= completed %>)</button>
    <% } %>
  </script>

  <script src="js/lib/jquery.min.js"></script>
  <script src="js/lib/underscore-min.js"></script>
  <script src="js/lib/backbone-min.js"></script>
  <script src="js/lib/backbone.localStorage.js"></script>

  <script src="js/models/todo.js"></script>
  <script src="js/collections/todos.js"></script>
  <script src="js/views/todos.js"></script>
  <script src="js/views/app.js"></script>
  <script src="js/routers/router.js"></script>
  <script src="js/app.js"></script>

</body>
</html>
